@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "~@fortawesome/fontawesome-free/css/regular.min.css";
@import "~@fortawesome/fontawesome-free/css/solid.min.css";
@import "~normalize.css/normalize.css";

body {
  font-family: "Roboto", arial, sans-serif;
  background-color: #0d1218;
}

header {
  background-color: #1c2938;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  margin: 0px;
}

.ris-input {
  width: 480px;
  height: 100%;
  padding: 20px 28px;
  font-size: 24px;
  line-height: 32px;
  border: none;
  background-color: #141f2d;
  caret-color: #dddddd;
  color: #dddddd;
  resize: none;
}

.ris-input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.two-pain {
  margin: 80px auto;
  display: flex;
  justify-content: center;
}

/* 左側のペイン */
.two-pain > div {
  display: flex;
  flex-direction: column;
  background-color: #141f2d;
}

.button-row {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
}

#fileinput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileinput + label {
  display: block;
  background-color: rgb(32, 44, 61);
  color: white;
  border-radius: 0.25em;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-right: 1em;
}

#fileinput:focus + label,
#fileinput + label:hover {
  background-color: rgb(64, 88, 122);
}

button {
  background-color: rgb(32, 44, 61);
  border: none;
  color: white;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.25em;

  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  margin-right: 1em;
}

button:disabled {
  background-color: rgb(32, 44, 61);
  box-shadow: none;
  opacity: 0.5;
}

.two-pain hr {
  border: none;
  border-left: 1px solid;
  margin: 0px;
}

.fa-fw {
  margin-right: 0.5em;
}
