.container {
  display: flex;
  flex-direction: column;
}

.preview-container {
  width: 480px;
  height: 100%;
  padding: 20px 28px;
  font-size: 24px;
  line-height: 32px;
  background-origin: none;
  color: #dddddd;
}

.preview-container>p {
  margin: 0px;
}

.preview-container>.placeholder {
  margin: 0px;
  color: gray;
}

.button-row {
  display: flex;
  justify-content: flex-end;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  color: rgb(255, 128, 0);
}
